
@{
    ViewBag.Title = "基隆市安樂地政事務所全球資訊網 - 成交案例統計表";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

@section AdditionalMeta
{
    <link rel="govtwsimpledc.xsd" href="http://www.gov.tw/schema/dc/" title="Dublin Core" />
    <meta name="DC.Title" content="基隆市安樂地政事務所全球資訊網 - 成交案例統計表" />
    <meta name="DC.Creator" content="基隆市安樂地政事務所登記課" />
    <meta name="DC.Subject" content="基隆市安樂地政事務所 - 成交案例統計表" />
    <meta name="DC.Description" content="成交案例統計表" />
    <meta name="DC.Contributor" content="基隆市安樂地政事務所" />
    <meta name="DC.Type" content="文字, 檔案" />
    <meta name="DC.Format" content="text/html, Word/file, PDF/file" />
    <meta name="DC.Source" content="基隆市安樂地政事務所" />
    <meta name="DC.Language" content="中文" />
    <meta name="DC.Coverage.t.max" content="2015-04-26" />
    <meta name="DC.Coverage.t.min" content="2010-04-26" />
    <meta name="DC.Publisher" content="基隆市安樂地政事務所" />
    <meta name="DC.Date" content="2010-04-26 10:00 " />
    <meta name="DC.Identifier" content="376570600A" />
    <meta name="DC.Relation" content="http://anleh-land.gov.tw/" />
    <meta name="DC.Rights" content="基隆市安樂地政事務所" />
    <meta name="Category.Theme" content="140" />
    <meta name="Category.Cake" content="CK2" />
    <meta name="Category.Service" content="I6Z" />
    <!-- 主題分類:140地政/施政分類:CK2 地籍管理/服務分類:I6Z其他 -->
    <meta name="Keywords" content="成交案例統計表, 服務" />
}

<!-- 公告區 -->
<div class="container d-print-none">
    <div class="pl-3">
        <a accesskey="C" href="#content" id="content" title="中央內容區塊">:::</a>
        <span class="sr-only">|</span>
        <a class="sr-only sr-only-focusable" href="#footer">轉跳至下方功能區</a>
    </div>
    <div class="row justify-content-between align-items-center">
        <!-- 麵包屑麵包屑 -->
        <div class="col-lg-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item pathTitle">現在位置</li>
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">首頁</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","GovernmentInfomation")">政府資訊公開服務</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="@Url.Action("Statistical","GovernmentInfomation")">成交案例統計表</a>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-6 d-flex justify-content-end align-items-center">
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <a class="btn btn-fb btn-sm" role="button" title="網站分享至facebook(另開視窗)" target="_blank"
                   href="https://www.facebook.com/sharer/sharer.php?u=http://anleh-land.gov.tw/">
                    <span class="fab fa-facebook-square"></span>
                </a>
                <a class="btn btn-print btn-sm" role="button" title="列印(另開視窗)" target="_blank" href="javascript:print()">
                    <span class="far fa-print"></span>
                </a>
                <span class="fontSizeSet">字級設定：</span>
                <div class="btn-group fontSizeSetGroup btn-group-toggle mr-3" data-toggle="buttons">
                    <label class="btn btn-outline-secondary btn-sm font-small" for="option1">
                        <span class="sr-only">小字型</span>
                        <input type="radio" name="小字型" title="小字型" id="option1" autocomplete="off"> 小
                    </label>
                    <label class="btn btn-outline-secondary btn-sm font-default active" for="option2">
                        <span class="sr-only">中字型</span>
                        <input type="radio" name="中字型" title="中字型" id="option2" autocomplete="off" checked> 中
                    </label>
                    <label class="btn btn-outline-secondary btn-sm font-large" for="option3">
                        <span class="sr-only">大字型</span>
                        <input type="radio" name="大字型" title="大字型" id="option3" autocomplete="off"> 大
                    </label>
                </div>
            </div>
        </div>
        <!-- /麵包屑 -->
    </div>
</div>
<!-- 內文區 -->
<div class="container">
    <div class="row">
        <div class="card ml-3 mr-3 mt-3 subContent">
            <div class="card-body">
                <div class="markTag"></div>
                <div class="pl-5 pr-0">
                    <h2 class="pl-0">成交案例統計表</h2>
                    <div class="alert alert-secondary bg-lightreay pb-0 ml-0" role="alert">
                        <p class="p-0">
                            <span class="red">注意：</span>本所提供之表單文件，皆有線上版閱覽器可供開啟檔案，若您需要單機版PDF閱覽器，請下載軟體：
                            <a href="https://get.adobe.com/tw/reader/" target="_blank" title="開啟新的導覽視窗">
                                Adobe Reader
                                <span class="fas fa-file-pdf"></span>
                            </a>
                        </p>
                    </div>
                    <ul class="nav nav-pills justify-content-end" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link link-success active" id="correct1-tab" data-toggle="tab" href="#correct1"
                               role="tab" aria-controls="correct1" aria-selected="false">
                                <span class="fas fa-file-edit"></span> 登記類
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-success" id="correct2-tab" data-toggle="tab" href="#correct2"
                               role="tab" aria-controls="correct2" aria-selected="false">
                                <span class="fas fa-map-marker-alt"></span> 地價類
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-success" id="correct3-tab" data-toggle="tab" href="#correct3"
                               role="tab" aria-controls="correct3" aria-selected="false">
                                <span class="fas fa-prescription-bottle"></span> 測量類
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="correct1" role="tabpanel" aria-labelledby="correct1-tab">
                            <h3 class="pl-0">
                                <span class="fas fa-bookmark"></span> <span id="h2Title1">108年</span> 登記測量辦理案件數及轄內買賣成交案件數 - 登記類
                            </h3>
                            <form class="form-inline justify-content-end">
                                <div class="form-group selectItem">
                                    <label for="selectYear1">選擇年份：</label>
                                    <select class="form-control" id="selectYear1" name="selectYear1">
                                        <option value="108年">108年</option>
                                        <option value="107年">107年</option>
                                    </select>
                                </div>
                            </form>
                            <div class="col-md-12 pl-0">
                                <table id="myTable1" class="table table-hover table-striped border-bottom rwd-table"
                                       summary="成交案例統計表表格，為3直欄設計，第1直欄為檔案名稱，第2直欄為日期，第3直欄為檔案下載。">
                                    <caption class="sr-only">
                                        107年 登記測量辦理案件數及轄內買賣成交案件數 - 登記類
                                    </caption>
                                    <thead>
                                        <tr class="bg-brown">
                                            <th scope="col">檔案名稱</th>
                                            <th scope="col">日期</th>
                                            <th scope="col">檔案下載</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td data-th="檔案名稱">107年01月份(登記)</td>
                                            <td data-th="日期">107/02/05</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/reg10701.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年02月份(登記)</td>
                                            <td data-th="日期">107/03/02</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/reg10702.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年03月份(登記)</td>
                                            <td data-th="日期">107/04/03</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/reg10703.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年04月份(登記)</td>
                                            <td data-th="日期">107/05/03</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/reg10704.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年05月份(登記)</td>
                                            <td data-th="日期">107/06/04</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/reg10705.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年06月份(登記)</td>
                                            <td data-th="日期">107/07/05</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/reg10706.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年07月份(登記)</td>
                                            <td data-th="日期">107/08/03</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/reg10707.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年08月份(登記)</td>
                                            <td data-th="日期">107/09/05</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/reg10708.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年09月份(登記)</td>
                                            <td data-th="日期">107/10/04</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/reg10709.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年10月份(登記)</td>
                                            <td data-th="日期">107/11/05</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/reg10710.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年11月份(登記)</td>
                                            <td data-th="日期">107/12/04</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/reg10711.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年12月份(登記)</td>
                                            <td data-th="日期">108/01/04</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/reg10712.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="correct2" role="tabpanel" aria-labelledby="correct2-tab">
                            <h3 class="pl-0">
                                <span class="fas fa-bookmark"></span> <span id="h2Title2">108年</span> 登記測量辦理案件數及轄內買賣成交案件數 - 地價類
                            </h3>
                            <form class="form-inline justify-content-end">
                                <div class="form-group selectItem">
                                    <label for="selectYear2">選擇年份：</label>
                                    <select class="form-control" id="selectYear2" name="selectYear2">
                                        <option value="108年">108年</option>
                                        <option value="107年">107年</option>
                                    </select>
                                </div>
                            </form>
                            <div class="col-md-12pl-0">
                                <table id="myTable2" class="table table-hover table-striped border-bottom rwd-table"
                                       summary="成交案例統計表表格，為3直欄設計，第1直欄為檔案名稱，第2直欄為日期，第3直欄為檔案下載。">
                                    <caption class="sr-only">
                                        107年 登記測量辦理案件數及轄內買賣成交案件數 - 地價類
                                    </caption>
                                    <thead>
                                        <tr class="bg-brown">
                                            <th scope="col">檔案名稱</th>
                                            <th scope="col">日期</th>
                                            <th scope="col">檔案下載</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td data-th="檔案名稱">107年01月份(地價)</td>
                                            <td data-th="日期">107/02/02</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/prc10701.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案下載">107年02月份(地價)</td>
                                            <td data-th="日期">107/03/02</td>
                                            <td data-th="檔案名稱">
                                                <a href="~/DownloadFile/statistical/prc10702.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年03月份(地價)</td>
                                            <td data-th="日期">107/04/02</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/prc10703.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年04月份(地價)</td>
                                            <td data-th="日期">107/05/02</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/prc10704.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案下載">107年05月份(地價)</td>
                                            <td data-th="日期">107/06/07</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/prc10705.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年06月份(地價)</td>
                                            <td data-th="日期">107/07/05</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/prc10706.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年07月份(地價)</td>
                                            <td data-th="日期">107/08/03</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/prc10707.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年08月份(地價)</td>
                                            <td data-th="日期">107/09/05</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/prc10708.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年09月份(地價)</td>
                                            <td data-th="日期">107/10/05</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/prc10709.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年10月份(地價)</td>
                                            <td data-th="日期">107/11/04</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/prc10710.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年11月份(地價)</td>
                                            <td data-th="日期">107/12/04</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/prc10711.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年12月份(地價)</td>
                                            <td data-th="日期">108/01/07</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/prc10712.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="correct3" role="tabpanel" aria-labelledby="correct3-tab">
                            <h3 class="pl-0">
                                <span class="fas fa-bookmark"></span> <span id="h2Title3">108年</span> 登記測量辦理案件數及轄內買賣成交案件數 - 測量類
                            </h3>
                            <form class="form-inline justify-content-end">
                                <div class="form-group selectItem">
                                    <label for="selectYear3">選擇年份：</label>
                                    <select class="form-control" id="selectYear3" name="selectYear3">
                                        <option value="108年">108年</option>
                                        <option value="107年">107年</option>
                                    </select>
                                </div>
                            </form>
                            <div class="col-md-12pl-0">
                                <table id="myTable3" class="table table-hover table-striped border-bottom rwd-table"
                                       summary="測量類成交案例統計表表格，為3直欄設計，第1直欄為檔案名稱，第2直欄為日期，第3直欄為檔案下載。">
                                    <caption class="sr-only">
                                        107年 登記測量辦理案件數及轄內買賣成交案件數 - 測量類
                                    </caption>
                                    <thead>
                                        <tr class="bg-brown">
                                            <th scope="col">檔案名稱</th>
                                            <th scope="col">日期</th>
                                            <th scope="col">檔案下載</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td data-th="檔案名稱">107年1月份(測量)</td>
                                            <td data-th="日期">107/02/05</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/test10701.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年2月份(測量)</td>
                                            <td data-th="日期">107/03/05</td>
                                            <td data-th="檔案檔案下載名稱">
                                                <a href="~/DownloadFile/statistical/test10702.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年3月份(測量)</td>
                                            <td data-th="日期">107/04/03</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/test10703.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年4月份(測量)</td>
                                            <td data-th="日期">107/05/15</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/test10704.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年5月份(測量)</td>
                                            <td data-th="日期">107/06/07</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/test10705.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年6月份(測量)</td>
                                            <td data-th="日期">107/07/05</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/test10706.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年7月份(測量)</td>
                                            <td data-th="日期">107/08/04</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/test10707.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年8月份(測量)</td>
                                            <td data-th="日期">107/09/05</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/test10708.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年09月份(測量)</td>
                                            <td data-th="日期">107/10/06</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/test10709.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-th="檔案名稱">107年10月份(測量)</td>
                                            <td data-th="日期">107/11/08</td>
                                            <td data-th="檔案下載">
                                                <a href="~/DownloadFile/statistical/test10710.pdf" target="_blank"
                                                   title="開啟新的導覽視窗">
                                                    PDF
                                                    <span class="fas fa-file-pdf"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 d-flex mt-3 justify-content-end align-items-center d-print-none">
            <a class="btn btn-primary btn-sm mr-3" role="button" href="@Url.Action("Index","GovernmentInfomation")">
                <span class="fal fa-external-link-square" aria-hidden="true"></span> 回政府資訊公開
            </a>
        </div>
    </div>
</div>
<!-- /內文區 -->

<script>
    var qatable;
    //var currentTab = '#myTable';
    var currentItem;
    var selectedItem;
    $(document).ready(function () {
        DatatableBinding('');

        $('#selectYear1').on('change', function () {
            selectedItem1 = $(this).find("option:selected").text();
            $('#h2Title1').text(selectedItem1);
            selectedVal1 = selectedItem1;
            //篩選條件選好後重新畫一次Table
            // qatable.draw();
            $('#myTable1').DataTable().draw();
        });
        $('#selectYear2').on('change', function () {
            selectedItem2 = $(this).find("option:selected").text();
            $('#h2Title2').text(selectedItem2);
            selectedVal2 = selectedItem2;
            //篩選條件選好後重新畫一次Table
            $('#myTable2').DataTable().draw();
        });
        $('#selectYear3').on('change', function () {
            selectedItem3 = $(this).find("option:selected").text();
            $('#h2Title3').text(selectedItem3);
            selectedVal3 = selectedItem3;
            //篩選條件選好後重新畫一次Table            
            $('#myTable3').DataTable().draw();
        });
    });
    //Datatable 的條件篩選做法
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            // var selectedVal = '';
            var selectedVal1 = $('#selectYear1').val();            
            var selectedVal2 = $('#selectYear2').val();
            var selectedVal3 = $('#selectYear3').val();
            var selectYear = data[0].substring(0, 4);
            if (selectedVal1 != '') {
                if (selectedVal1 == selectYear) {
                    return true;
                }
                return false;
            }
            if (selectedVal2 != '') {
                if (selectedVal2 == selectYear) {
                    return true;
                }
                return false;
            }
            if (selectedVal3 != '') {
                if (selectedVal3 == selectYear) {
                    return true;
                }
                return false;
            }
            return true;
        }
    );
    // Data Table
    function DatatableBinding() {
        for (var i = 1 ; i < 4; i++){
            qatable = $('#myTable' + i).DataTable({
                "language": {
                    "processing": "處理中...",
                    "loadingRecords": "載入中...",
                    "lengthMenu": "顯示 _MENU_ 筆結果",
                    "zeroRecords": "沒有符合的結果",
                    "info": "顯示第 _START_ 至 _END_ 筆結果，共 _TOTAL_ 筆",
                    "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
                    "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
                    "infoPostFix": "",
                    "search": "搜尋:",
                    "searchPlaceholder": "請輸入關鍵字",
                    "paginate": {
                        "first": "第一頁",
                        "previous": "上一頁",
                        "next": "下一頁",
                        "last": "最後一頁"
                    },
                    "aria": {
                        "sortAscending": ": 升冪排列",
                        "sortDescending": ": 降冪排列"
                    }
                },
                "pagingType": "full_numbers",
                "ordering": false,
                //"searching": false,
                "paging": false,
                "info": false
            });
        }
    }
</script>