@model List<AnlandProject.Service.BusinessModel.MainMenuModel>
@using AnlandProject.Backend.Helpers
@{
    Layout = null;
}

<div class="site-menubar">
    <div class="site-menubar-body">
        <div>
            <ul class="site-menu" data-plugin="menu">
                <li class="site-menu-category">網站管理項目</li>
                @foreach (var item in Model.Where(m => m.Level == 1).OrderBy(m => m.Order))
                {
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon wb-bookmark" aria-hidden="true"></i>
                            <span class="site-menu-title">@item.MenuName</span>
                            <span class="site-menu-arrow">
                            </span>
                        </a>
                        <ul class="site-menu-sub">
                            @foreach (var item2 in Model.Where(m => m.Level == 2 && m.ParentId == item.id).OrderBy(m => m.Order))
                            {
                                @Html.MenuLink(item2.MenuName, item2.Action, item2.Controller, "")
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('ul.site-menu li.active').closest('li.has-sub').addClass('open');
    });
</script>