
@{
    ViewBag.Title = "基隆市安樂地政事務所全球資訊網 - 檔案應用服務";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

@section AdditionalMeta
{
    <link rel="govtwsimpledc.xsd" href="http://www.gov.tw/schema/dc/" title="Dublin Core" />
    <meta name="DC.Title" content="基隆市安樂地政事務所全球資訊網 - 檔案應用服務" />
    <meta name="DC.Creator" content="基隆市安樂地政事務所登記課" />
    <meta name="DC.Subject" content="基隆市安樂地政事務所檔案應用服務" />
    <meta name="DC.Description" content="檔案應用服務" />
    <meta name="DC.Contributor" content="基隆市安樂地政事務所" />
    <meta name="DC.Type" content="文字" />
    <meta name="DC.Format" content="text/html" />
    <meta name="DC.Source" content="基隆市安樂地政事務所" />
    <meta name="DC.Language" content="中文" />
    <meta name="DC.Coverage.t.max" content="2015-04-26" />
    <meta name="DC.Coverage.t.min" content="2010-04-26" />
    <meta name="DC.Publisher" content="基隆市安樂地政事務所" />
    <meta name="DC.Date" content="2010-04-26 10:00 " />
    <meta name="DC.Identifier" content="376570600A" />
    <meta name="DC.Relation" content="http://anleh-land.gov.tw/" />
    <meta name="DC.Rights" content="基隆市安樂地政事務所" />
    <meta name="Category.Theme" content="140" />
    <meta name="Category.Cake" content="CKA" />
    <meta name="Category.Service" content="C11" />
    <!-- 主題分類:140地政/施政分類:CKA 地政資訊系統/服務分類:C11土地建物登記 -->
    <meta name="Keywords" content="檔案應用服務, 申辦說明," />
}

<!-- 公告區 -->
<div class="container d-print-none">
    <div class="pl-3">
        <a accesskey="C" href="#content" id="content" title="中央內容區塊">:::</a>
        <span class="sr-only">|</span>
        <a class="sr-only sr-only-focusable" href="#footer">轉跳至下方功能區</a>
    </div>
    <div class="row justify-content-between align-items-center">
        <!-- 麵包屑麵包屑 -->
        <div class="col-lg-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item pathTitle">現在位置</li>
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">首頁</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="@Url.Action("Index","Documentation")">檔案應用服務</a>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-6 d-flex justify-content-end align-items-center">
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <a class="btn btn-fb btn-sm" role="button" title="網站分享至facebook(另開視窗)" target="_blank"
                   href="https://www.facebook.com/sharer/sharer.php?u=http://anleh-land.gov.tw/">
                    <span class="fab fa-facebook-square"></span>
                </a>
                <a class="btn btn-print btn-sm" role="button" title="列印(另開視窗)" target="_blank" href="javascript:print()">
                    <span class="far fa-print"></span>
                </a>
                <span class="fontSizeSet">字級設定：</span>
                <div class="btn-group fontSizeSetGroup btn-group-toggle mr-3" data-toggle="buttons">
                    <label class="btn btn-outline-secondary btn-sm font-small" for="option1">
                        <span class="sr-only">小字型</span>
                        <input type="radio" name="小字型" title="小字型" id="option1" autocomplete="off"> 小
                    </label>
                    <label class="btn btn-outline-secondary btn-sm font-default active" for="option2">
                        <span class="sr-only">中字型</span>
                        <input type="radio" name="中字型" title="中字型" id="option2" autocomplete="off" checked> 中
                    </label>
                    <label class="btn btn-outline-secondary btn-sm font-large" for="option3">
                        <span class="sr-only">大字型</span>
                        <input type="radio" name="大字型" title="大字型" id="option3" autocomplete="off"> 大
                    </label>
                </div>
            </div>
        </div>
        <!-- /麵包屑 -->
    </div>
</div>
<!-- 內文區 -->
<div class="container">
    <div class="row">
        <div class="card ml-3 mr-3 mt-3 subContent">
            <div class="card-body">
                <div class="markTag"></div>
                <h2>檔案應用服務</h2>
                <div class="container">
                    <div class="row mt-5 d-flex flex-wrap justify-content-around">
                        <div class="col-lg-3 col-md-6 mb-3">
                            <div class="card h-100 quickOption">
                                <div class="card-header text-center mainItem">
                                    <span class="fas fa-box-check"></span>
                                    <h5><a href="@Url.Action("FileApplication","Documentation")">檔案應用<br>(一般民眾)</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-3">
                            <div class="card h-100 quickOption">
                                <div class="card-header text-center infoItem">
                                    <span class="fas fa-balance-scale"></span>
                                    <h5><a href="@Url.Action("InspectionService","Documentation")">檢調服務<br>(公務機關)</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-3">
                            <div class="card h-100 quickOption">
                                <div class="card-header text-center downloadItem">
                                    <span class="fas fa-file-download"></span>
                                    <h5><a href="https://near.archives.gov.tw/" target="_blank" title="開啟新的導覽視窗">全國檔案<br>目錄查詢</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /內文區 -->