
@{
    ViewBag.Title = "基隆市安樂地政事務所全球資訊網 - 各地國稅局與稅捐處";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

@section AdditionalMeta
{
    <link rel="govtwsimpledc.xsd" href="http://www.gov.tw/schema/dc/" title="Dublin Core" />
    <meta name="DC.Title" content="基隆市安樂地政事務所全球資訊網 - 網網相連 - 各地國稅局與稅捐處" />
    <meta name="DC.Creator" content="基隆市安樂地政事務所登記課" />
    <meta name="DC.Subject" content="網網相連 - 各地國稅局與稅捐處" />
    <meta name="DC.Description" content="網網相連 - 各地國稅局與稅捐處" />
    <meta name="DC.Contributor" content="基隆市安樂地政事務所" />
    <meta name="DC.Type" content="文字" />
    <meta name="DC.Format" content="text/html" />
    <meta name="DC.Source" content="基隆市安樂地政事務所" />
    <meta name="DC.Language" content="中文" />
    <meta name="DC.Coverage.t.max" content="2015-04-26" />
    <meta name="DC.Coverage.t.min" content="2010-04-26" />
    <meta name="DC.Publisher" content="基隆市安樂地政事務所" />
    <meta name="DC.Date" content="2010-04-26 10:00 " />
    <meta name="DC.Identifier" content="376570600A" />
    <meta name="DC.Relation" content="http://anleh-land.gov.tw/" />
    <meta name="DC.Rights" content="基隆市安樂地政事務所" />
    <meta name="Category.Theme" content="140" />
    <meta name="Category.Cake" content="CKZ" />
    <meta name="Category.Service" content="I60" />
    <meta name="Keywords" content="網網相連, 各地國稅局與稅捐處" />
}

<!-- 公告區 -->
<div class="container d-print-none">
    <div class="pl-3">
        <a accesskey="C" href="#content" id="content" title="中央內容區塊">:::</a>
        <span class="sr-only">|</span>
        <a class="sr-only sr-only-focusable" href="#footer">轉跳至下方功能區</a>
    </div>
    <div class="row justify-content-between align-items-center">
        <!-- 麵包屑麵包屑 -->
        <div class="col-lg-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item pathTitle">現在位置</li>
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">首頁</a>
                    </li>
                    <li class="breadcrumb-item">
                        網網相連
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">各地國稅局與稅捐處</li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-6 d-flex justify-content-end align-items-center">
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <a class="btn btn-fb btn-sm" role="button" role="button" title="網站分享至facebook(另開視窗)" target="_blank"
                   href="https://www.facebook.com/sharer/sharer.php?u=http://anleh-land.gov.tw/">
                    <span class="fab fa-facebook-square"></span>
                </a>
                <a class="btn btn-print btn-sm" role="button" title="列印(另開視窗)" target="_blank" href="javascript:print()">
                    <span class="far fa-print"></span>
                </a>
                <span class="fontSizeSet">字級設定：</span>
                <div class="btn-group fontSizeSetGroup btn-group-toggle mr-3" data-toggle="buttons">
                    <label class="btn btn-outline-secondary btn-sm font-small" for="option1">
                        <span class="sr-only">小字型</span>
                        <input type="radio" name="小字型" title="小字型" id="option1" autocomplete="off"> 小
                    </label>
                    <label class="btn btn-outline-secondary btn-sm font-default active" for="option2">
                        <span class="sr-only">中字型</span>
                        <input type="radio" name="中字型" title="中字型" id="option2" autocomplete="off" checked> 中
                    </label>
                    <label class="btn btn-outline-secondary btn-sm font-large" for="option3">
                        <span class="sr-only">大字型</span>
                        <input type="radio" name="大字型" title="大字型" id="option3" autocomplete="off"> 大
                    </label>
                </div>
            </div>
        </div>
        <!-- /麵包屑 -->
    </div>
</div>
<!-- 內文區 -->
<div class="container">
    <div class="row">
        <div class="card ml-3 mr-3 mt-3 subContent">
            <div class="card-body">
                <div class="markTag"></div>
                <div class="pl-5 pr-0">
                    <h2 class="pl-0">各地國稅局與稅捐處</h2>

                    <table id="myTable" class="table table-hover table-striped border-bottom rwd-table" summary="編排用表格">
                        <caption class="sr-only">各地國稅局與稅捐處</caption>
                        <thead class="sr-only">
                            <tr class="bg-brown">
                                <th scope="col">連結</th>
                                <th scope="col">連結</th>
                                <th scope="col">連結</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.ntbt.gov.tw/etwmain/" target="_blank" title="開啟新的瀏覽視窗">財政部台北國稅局</a>
                                </td>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.ntak.gov.tw/" target="_blank" title="開啟新的瀏覽視窗">財政部高雄國稅局</a>
                                </td>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.ntbna.gov.tw/etwmain/" target="_blank" title="開啟新的瀏覽視窗">北區國稅局</a>
                                </td>
                            </tr>
                            <tr>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.tax.ntpc.gov.tw/core/main/index.php" target="_blank" title="開啟新的瀏覽視窗">新北市政府稅捐稽徵處</a>
                                </td>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.iltb.gov.tw/" target="_blank" title="開啟新的瀏覽視窗">宜蘭縣地方稅務局</a>
                                </td>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.kctax.gov.tw/" target="_blank" title="開啟新的瀏覽視窗">高雄市西區稅捐稽徵處</a>
                                </td>
                            </tr>
                            <tr>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.tytax.gov.tw" target="_blank" title="開啟新的瀏覽視窗">桃園市政府地方稅務局</a>
                                </td>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.tpctax.taipei.gov.tw/" target="_blank" title="開啟新的瀏覽視窗">台北市稅捐稽徵處</a>
                                </td>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.kltb.gov.tw/" target="_blank" title="開啟新的瀏覽視窗">基隆市稅務局</a>
                                </td>
                            </tr>
                            <tr>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.ntbca.gov.tw/etwmain/" target="_blank" title="開啟新的瀏覽視窗">中區國稅局</a>
                                </td>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.ntbsa.gov.tw/etwmain/" target="_blank" title="開啟新的瀏覽視窗">南區國稅局</a>
                                </td>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.khtb.gov.tw/main/index.aspx" target="_blank" title="開啟新的瀏覽視窗">高雄市東區稅捐稽徵處</a>
                                </td>
                            </tr>
                            <tr>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.nttb.gov.tw/" target="_blank" title="開啟新的瀏覽視窗">南投縣政府稅務局</a>
                                </td>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.kmtax.gov.tw/" target="_blank" title="開啟新的瀏覽視窗">金門縣稅務局</a>
                                </td>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.hcct.gov.tw/" target="_blank" title="開啟新的瀏覽視窗">新竹市稅務局</a>
                                </td>
                            </tr>
                            <tr>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.tax.taichung.gov.tw/" target="_blank" title="開啟新的瀏覽視窗">台中市地方稅務局</a>
                                </td>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.tntb.gov.tw/core/main/index.php" target="_blank" title="開啟新的瀏覽視窗">台南市政府財政稅務局</a>
                                </td>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.chutax.gov.tw/" target="_blank" title="開啟新的瀏覽視窗">新竹縣政府稅捐稽徵局</a>
                                </td>
                            </tr>
                            <tr>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.phtax.gov.tw/" target="_blank" title="開啟新的瀏覽視窗">澎湖縣政府稅務局</a>
                                </td>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.pttb.gov.tw/" target="_blank" title="開啟新的瀏覽視窗">屏東縣政府稅務局</a>
                                </td>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.mlftax.gov.tw/" target="_blank" title="開啟新的瀏覽視窗">苗栗縣政府稅務局</a>
                                </td>
                            </tr>
                            <tr>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.citax.gov.tw/" target="_blank" title="開啟新的瀏覽視窗">嘉義市政府稅務局</a>
                                </td>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.yltb.gov.tw/" target="_blank" title="開啟新的瀏覽視窗">雲林縣稅務局</a>
                                </td>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.changtax.gov.tw/" target="_blank" title="開啟新的瀏覽視窗">彰化縣地方稅務局</a>
                                </td>
                            </tr>
                            <tr>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.cyhtax.gov.tw/" target="_blank" title="開啟新的瀏覽視窗">嘉義縣財政稅務局</a>
                                </td>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.hltb.gov.tw/" target="_blank" title="開啟新的瀏覽視窗">花蓮縣地方稅務局</a>
                                </td>
                                <td data-th="連結">
                                    <span class="fas fa-link"></span>
                                    <a href="http://www.tttb.gov.tw/" target="_blank" title="開啟新的瀏覽視窗">台東縣稅務局</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12 d-flex mt-3 justify-content-end align-items-center d-print-none">
            <a class="btn btn-primary btn-sm mr-3" role="button" href="@Url.Action("Index","Home")">
                <span class="fal fa-external-link-square" aria-hidden="true"></span> 回首頁
            </a>
        </div>
    </div>
</div>
<!-- /內文區 -->

<script>
    $(document).ready(function () {
        // Data Table
        $('#myTable').DataTable({
            "language": {
                "processing": "處理中...",
                "loadingRecords": "載入中...",
                "lengthMenu": "顯示 _MENU_ 筆結果",
                "zeroRecords": "沒有符合的結果",
                "info": "顯示第 _START_ 至 _END_ 筆結果，共 _TOTAL_ 筆",
                "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
                "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
                "infoPostFix": "",
                "search": "搜尋:",
                "searchPlaceholder": "請輸入關鍵字",
                "paginate": {
                    "first": "第一頁",
                    "previous": "上一頁",
                    "next": "下一頁",
                    "last": "最後一頁"
                },
                "aria": {
                    "sortAscending": ": 升冪排列",
                    "sortDescending": ": 降冪排列"
                }
            },
            "pagingType": "full_numbers",
            "ordering": false
            // ,
            // "searching": false
        });
    });
</script>