@model List<AnlandProject.Service.BusinessModel.FAQModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AnlandLayout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="~/global/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css">
    <link rel="stylesheet" href="~/global/css/plugins.min.css">
}

<div class="page-header">
    <h1 class="page-title">地政答客問</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href='@Url.Action("Index","Home")'>首頁</a></li>
        <li class="breadcrumb-item active">地政答客問</li>
    </ol>
    <div class="page-header-actions"></div>
</div>

<div class="page-content container-fluid">

    <!-- 內文編輯區 -->
    <div class="panel panel-bordered">
        <div class="panel-body">
            <div class="row" style="display:none;">
                <div class="form-group col-xl-6">
                    <a href='@Url.Action("CreateNews","FAQ")' class="btn btn-md btn-primary" style="margin-right:20px;">
                        <i class="icon wb-plus" aria-hidden="true"></i> 新增訊息
                    </a>
                </div>
                <div class="form-group col-xl-3">
                </div>
            </div>
            <div>
                <table id="faqTable" class="table table-striped table-bordered table-hover table-checkable order-column">
                    <thead>
                        <tr>
                            <th style="width:70px;">編號</th>
                            <th>主題</th>
                            <th style="width:100px;">留言日期</th>
                            <th style="width:100px;" class="nosort">管理模式</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
    <!-- model -->
    @Html.Action("DeleteConfirmDialog", "FAQ")
    <!-- /model -->
    <!-- /內文編輯區 -->

</div>

@section scripts{
    <script src="~/global/plugins/datatables/datatables.min.js"></script>
    <script src="~/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>
    <script>
        var urlQueryFAQ = '@Url.Action("FAQQuery", "FAQ")';

        $(document).ready(function () {
            DatatableBinding();
        });

        function DatatableBinding() {
            var _tmpOpts = $.extend({}, pfnDataTable.defOpts);
            _tmpOpts.order = [[2, "desc"]];
            _tmpOpts.ajax = {
                "url": urlQueryFAQ,
                "type": 'POST'
            };
            _tmpOpts.columns = [
                { mDataProp: "No" },
                {
                    mDataProp: "MsgSubject",
                    render: function (data, type, full, meta) {
                        return '<a href="../FAQ/FAQView/' + full.No + '">' + data + '</a>'
                    }
                },
                {
                    mDataProp: "MsgDate",
                    render: function (data, type, full, meta) {
                        return moment(data).format('YYYY/MM/DD');
                    }
                },
                {
                    mDataProp: null,
                    render: function (data, type, full, meta) {
                        var tag =
                            '<a href="../FAQ/CreateFAQ/' + data.No + '" class="btn btn-pure btn-default p-5 btn-primary">' +
                            '<span class="icon wb-pencil" data - toggle="tooltip" data - placement="top" data - original - title="回覆" ></span >' +
                            '</a >' +
                            '<a href="#DeleteConfirmDialog" class="btn btn-pure btn-default p-5 btn-warning" data-contentargs="[&quot;' + data.No + '&quot;]" data-id="' + data.No + '" data-toggle="modal">' +
                            '<span class=" icon wb-trash" data-toggle="tooltip" data-placement="top" data-original-title="刪除"></span>' +
                            '</a>'
                        return tag;
                    }
                }
            ];

            if ($.fn.DataTable.isDataTable('#faqTable')) {
                $('#faqTable').DataTable().destroy();
                $('#faqTable  tbody tr').remove();
            }
            $('#faqTable').DataTable(_tmpOpts);
        }

        function RequestFail() {
            msgResoure('other_msg', 'small', '錯誤', errMSGContent);
        }


        function DeleteSuccess(result) {
            if (result) {
                SuccessMSGAfterFun('刪除成功', DatatableBinding);
            }
            else {
                ErrorMSG(result.Description);
            }
        }
    </script>
}