@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_AnlandLayout.cshtml";
}

<div class="page-content">
    <h2>基隆市安樂地政事務所 網站管理系統</h2>
    <p>You are login and welcome you!!!</p>

    <p>本網站是由Microsoft Visual Studio所編輯，為了讓維護可以比較趨近相同情境，建議您可安裝 Visual Studio Code (VS Code)，此為微軟免費版的軟體，且目前持續在更新，另有元件庫提供豐富的外掛輔助功能。</p>
    <p>下載網址：<a href="https://code.visualstudio.com/" target="_blank">code.visualstudio.com</a></p>
    <p>1.站台網頁編輯注意事項：</p>
    <ul>
        <li>請先將網站(AnlandWebSite)備份一份到您的工作機上，未來更新後再上傳到目前站台。</li>
        <li>安裝好 VS Code ，請開啟軟體，點選 "檔案" > "開啟資料夾"，選擇您放置 AnlandWebSite 的所在位置後開啟，整個檔案目錄會呈現在您的左手邊，如同檔案總管一樣。點選您要編輯的檔案即可開始編輯。</li>
        <li>由於 AnlandWebSite 目錄結構是已經編譯好的站台，因此能夠編輯的範圍僅限於網頁和樣式 (CSS) 的部分。</li>
        <li>前台網頁相對應的路徑請參閱附件 Excel檔有說明：<a href="~/UploadedFiles/新網頁架構資料_10710.xlsx" target="_blank">網頁架構資料表</a>。</li>
        <li>前台首頁的檔案路徑在Front\Views\Home\Index.cshtml，基本的區塊範圍已標示在原始碼內，編輯方式與DW編輯方式類似，編輯時請參考內容放置圖檔或連結，Banner圖檔存放路徑請參考網頁上下文範例。</li>
    </ul>
    <p>2.附件：</p>
    <ul>
        <li>
            <a href="~/UploadedFiles/安樂地政事務所網站維護說明.pdf">網站維護說明 - PDF</a>
        </li>
        <li>
            <a href="~/UploadedFiles/安樂地政事務所-網站設定說明.pdf">網站設定說明 - PDF</a>
        </li>
    </ul>

</div>