
@{
    ViewBag.Title = "基隆市安樂地政事務所全球資訊網 - 申請須知-土地基本資料庫";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

@section AdditionalMeta
{
    <link rel="govtwsimpledc.xsd" href="http://www.gov.tw/schema/dc/" title="Dublin Core" />
    <meta name="DC.Title" content="基隆市安樂地政事務所全球資訊網 - 申請須知 - 土地基本資料庫" />
    <meta name="DC.Creator" content="基隆市安樂地政事務所登記課" />
    <meta name="DC.Subject" content="申請須知 - 土地基本資料庫" />
    <meta name="DC.Description" content="申請須知 - 土地基本資料庫" />
    <meta name="DC.Contributor" content="基隆市安樂地政事務所" />
    <meta name="DC.Type" content="文字" />
    <meta name="DC.Format" content="text/html" />
    <meta name="DC.Source" content="基隆市安樂地政事務所" />
    <meta name="DC.Language" content="中文" />
    <meta name="DC.Coverage.t.max" content="2015-04-26" />
    <meta name="DC.Coverage.t.min" content="2010-04-26" />
    <meta name="DC.Publisher" content="基隆市安樂地政事務所" />
    <meta name="DC.Date" content="2010-04-26 10:00 " />
    <meta name="DC.Identifier" content="376570600A" />
    <meta name="DC.Relation" content="http://anleh-land.gov.tw/" />
    <meta name="DC.Rights" content="基隆市安樂地政事務所" />
    <meta name="Category.Theme" content="140" />
    <meta name="Category.Cake" content="CKA" />
    <meta name="Category.Service" content="C11" />
    <meta name="Keywords" content="申請須知, 土地基本資料庫" />
}

<!-- 公告區 -->
<div class="container d-print-none">
    <div class="pl-3">
        <a accesskey="C" href="#content" id="content" title="中央內容區塊">:::</a>
        <span class="sr-only">|</span>
        <a class="sr-only sr-only-focusable" href="#footer">轉跳至下方功能區</a>
    </div>
    <div class="row justify-content-between align-items-center">
        <!-- 麵包屑麵包屑 -->
        <div class="col-lg-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item pathTitle">現在位置</li>
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">首頁</a>
                    </li>
                    <li class="breadcrumb-item">
                        申請須知
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">土地基本資料庫</li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-6 d-flex justify-content-end align-items-center">
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <a class="btn btn-fb btn-sm" role="button" role="button" title="網站分享至facebook(另開視窗)" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://anleh-land.gov.tw/">
                    <span class="fab fa-facebook-square"></span>
                </a>
                <a class="btn btn-print btn-sm" role="button" title="列印(另開視窗)" target="_blank" href="javascript:print()">
                    <span class="far fa-print"></span>
                </a>
                <span class="fontSizeSet">字級設定：</span>
                <div class="btn-group fontSizeSetGroup btn-group-toggle mr-3" data-toggle="buttons">
                    <label class="btn btn-outline-secondary btn-sm font-small" for="option1">
                        <span class="sr-only">小字型</span>
                        <input type="radio" name="小字型" title="小字型" id="option1" autocomplete="off"> 小
                    </label>
                    <label class="btn btn-outline-secondary btn-sm font-default active" for="option2">
                        <span class="sr-only">中字型</span>
                        <input type="radio" name="中字型" title="中字型" id="option2" autocomplete="off" checked> 中
                    </label>
                    <label class="btn btn-outline-secondary btn-sm font-large" for="option3">
                        <span class="sr-only">大字型</span>
                        <input type="radio" name="大字型" title="大字型" id="option3" autocomplete="off"> 大
                    </label>
                </div>
            </div>
        </div>
        <!-- /麵包屑 -->
    </div>
</div>
<!-- 內文區 -->
<div class="container">
    <div class="row">
        <div class="card ml-3 mr-3 mt-3 subContent">
            <div class="card-body">
                <div class="markTag"></div>
                <h2>土地基本資料庫</h2>
                <div class="container pl-5 pt-3">
                    <div class="row">
                        <div class="col-lg-12" id="sec01">
                            <h3 class="pl-0">
                                <span class="fas fa-bookmark"></span> 申請說明：
                            </h3>
                            <p class="p-1">
                                土地基本資料庫電子資料之申請，須依『 <a href="http://gazette.nat.gov.tw/EG_FileManager/eguploadpub/eg019010/ch02/type2/gov10/num2/Eg.htm"
                                                      target="_blank" title="連結行政院公報資訊網網站(開啟新的導覽視窗)">土地基本資料庫電子資料流通作業要點</a> 』規定。
                            </p>
                        </div>
                        <div class="col-lg-12" id="sec02">
                            <h3 class="pl-0">
                                <span class="fas fa-bookmark"></span> 計繳規費：
                            </h3>
                            <ol>
                                <li>測量資料之地籍圖以宗地筆數為計價單位，總筆數未達一千筆者，以一千筆計，每筆收費新臺幣一元。圖根點以點數為計價單位，總點數未達十點者以十點計，每點收費新臺幣二十元。</li>
                                <li>登記資料之收費以資料輸出之錄數為計價單位，總錄數未達一千錄者，以一千錄計，每錄收費新臺幣零點五元，其總價尾數未滿新臺幣一元者，其尾數不計。</li>
                                <li>地價資料之收費以宗地筆數為計價單位，總筆數未達一千筆者，以一千筆計，每筆收費新臺幣零點零一元，其總價尾數未滿新臺幣一元者，其尾數不計。</li>
                                <li>網路方式傳輸提供土地基本資料者，不收媒體材料費。</li>
                                <li>媒體費用：每片唯讀光碟片收取新臺幣四十元整</li>
                                <ol>
                        </div>

                        <p class="text-primary pl-1">
                            更新日期：2018/08/01
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /內文區 -->